<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>758174903886-5h4f6qe46i4ge2kaqfa8i7rvukg5r6gv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758174903886-5h4f6qe46i4ge2kaqfa8i7rvukg5r6gv</string>
	<key>API_KEY</key>
	<string>AIzaSyCdx4xyDwue9BBDHU6sMFnnUybDwPZP35U</string>
	<key>GCM_SENDER_ID</key>
	<string>758174903886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>idv.nick1992.InventoryManagement</string>
	<key>PROJECT_ID</key>
	<string>inventorymanagement-5ff89</string>
	<key>STORAGE_BUCKET</key>
	<string>inventorymanagement-5ff89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758174903886:ios:5b459ad28cfd8bb9</string>
	<key>DATABASE_URL</key>
	<string>https://inventorymanagement-5ff89.firebaseio.com</string>
</dict>
</plist>